<div>
<img src='http://bit.ly/1eze8aE' style='border: 12px dashed red'>
</div>
<h1>My name is <%= @name %></h1>
<% if @name.empty? %>
<form action="/named-cat"> 
 <label>name: </label> <input type="text" name="name"><br> 
 <input type="submit" value="Submit"> 
</form> 
<% end %>
